# Syntax

## Case Sensitivity

The important point to be noted is that SQLite is case insensitive, i.e. the clauses GLOB and glob have the same meaning in SQLite statements.

## Comments

SQL comments begin with two consecutive "-" characters (ASCII 0x2d) and extend up to and including the next newline character (ASCII 0x0a) or until the end of input, whichever comes first. Plus, we can also use C-style comments

```bash
sqlite> -- This is a comment
```

## Basic Statements

All the SQLite statements start with any of the keywords like SELECT, INSERT, UPDATE, DELETE, ALTER, DROP, etc., and all the statements end with a semicolon (;).

- SQLite ANALYZE Statement:

```bash
ANALYZE;
or
ANALYZE database_name;
or
ANALYZE database_name.table_name;
```

- SQLite AND/OR Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE [condition1] AND|OR [condition2]...AND|OR [conditionN];
```

- SQLite ALTER TABLE Statement:

```bash
ALTER TABLE table_name ADD COLUMN column_def...;
```

- SQLite ALTER TABLE Statement (Rename):

```bash
ALTER TABLE table_name RENAME TO new_table_name;
```

- SQLite ATTACH DATABASE Statement:

```bash
ATTACH DATABASE 'DatabaseName.db' AS 'Alias-Name';
```

- SQLite BEGIN TRANSACTION Statement:

```bash
BEGIN;
or
BEGIN EXCLUSIVE TRANSACTION;
```

- SQLite BETWEEN Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name BETWEEN val-1 AND val-2;
```

- SQLite COMMIT Statement:

```bash
COMMIT;
```

- SQLite CREATE INDEX Statement:

```bash
CREATE INDEX index_name
ON table_name (column1, column2, ... columnN);
```

- SQLite CREATE UNIQUE INDEX Statement:

```bash
CREATE UNIQUE INDEX index_name
ON table_name (column1, column2, ... columnN);
```

- SQLite CREATE TABLE Statement:

```bash
CREATE TABLE table_name(
column1 datatype PRIMARY KEY(one or more columns),
column2 datatype,
column3 datatype,
.....
columnN datatype
);
```

- SQLite CREATE TRIGGER Statement:

```bash
CREATE TRIGGER database_name.trigger_name
BEFORE|AFTER INSERT|DELETE|UPDATE 
ON table_name
FOR EACH ROW
BEGIN
   ....
END;
```

- SQLite CREATE VIEW Statement:

```bash
CREATE VIEW database_name.view_name AS
SELECT column1, column2, ... columnN
FROM table_name
WHERE [condition];
```

- SQLite CREATE VIRTUAL TABLE Statement:

```bash
CREATE VIRTUAL TABLE database_name.table_name USING weblog( access.log );
or
CREATE VIRTUAL TABLE database_name.table_name USING fts3( );
```

- SQLite COUNT Clause:

```bash
SELECT COUNT(column_name)
FROM table_name
WHERE condition;
```

- SQLite DELETE Statement:

```bash
DELETE FROM table_name
WHERE [condition];
```

- SQLite DETACH DATABASE Statement:

```bash
DETACH DATABASE 'Alias-Name';
```

- SQLite DISTINCT Clause:

```bash
SELECT DISTINCT column1, column2,.....columnN
FROM table_name
WHERE [condition];
```

- SQLite DROP INDEX Statement:

```bash
DROP INDEX database_name.index_name;
```

- SQLite DROP TABLE Statement:

```bash
DROP TABLE database_name.table_name;
```

- SQLite DROP TRIGGER Statement:

```bash
DROP TRIGGER database_name.trigger_name;
```

- SQLite DROP VIEW Statement:

```bash
DROP VIEW database_name.view_name;
```

- SQLite EXISTS Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name EXISTS (SELECT * FROM table_name WHERE [condition]);
```

- SQLite EXPLAIN Statement:

```bash
EXPLAIN SELECT * FROM table_name;
or
EXPLAIN QUERY PLAN SELECT * FROM table_name;
```

- SQLite GLOB Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name GLOB pattern;
```

- SQLite GROUP BY Clause:

```bash
SELECT SUM(column_name)
FROM table_name
WHERE [condition]
GROUP BY column_name;
```

- SQLite HAVING Clause:

```bash
SELECT SUM(column_name)
FROM table_name
WHERE [condition]
GROUP BY column_name
HAVING [condition];
```

- SQLite INSERT INTO Statement:

```bash
INSERT INTO table_name( column1, column2....columnN)
VALUES ( value1, value2....valueN);
```

- SQLite IN Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name IN (val-1, val-2,...val-N);
```

- SQLite LIKE Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name LIKE pattern;
```

- SQLite NOT LIKE Clause:

```bash
SELECT column1, column2, columnN
FROM table_name
WHERE column_name NOT LIKE pattern;
```

- SQLite ORDER BY Clause:

```bash
SELECT column-list
FROM table_name
[WHERE condition]
[ORDER BY column1, column2, .. columnN] [ASC | DESC];
```

SQLite PRAGMA Statement:

```bash
PRAGMA pragma_name;
PRAGMA cache_size = 1024;
PRAGMA table_info(table_name);
PRAGMA database_list;
PRAGMA database_name.table_info(table_name);
.....
```

- SQLite RELEASE SAVEPOINT Statement:

```bash
RELEASE SAVEPOINT savepoint_name;
```

- SQLite REINDEX Statement:

```bash
REINDEX collation_name;
or
REINDEX database_name.index_name;
or
REINDEX database_name.table_name;
```

- SQLite ROLLBACK Statement:

```bash
ROLLBACK;
or
ROLLBACK TO SAVEPOINT savepoint_name;
```

- SQLite SAVEPOINT Statement:

```bash
SAVEPOINT savepoint_name;
```

- SQLite SELECT Statement:

```bash
SELECT column1, column2, columnN
FROM table_name;
```

- SQLite UPDATE Statement:

```bash
UPDATE table_name
SET column1 = value1, column2 = value2....columnN=valueN
[ WHERE  CONDITION ];
```

- SQLite VACUUM Statement:

```bash
VACUUM;
```