# Database Programming

<h2>SQLITE WITH PYTHON</h2>

Databases are one of the most popular ways to store and manage data in computer science.

Notice that for most databases we use the query language SQL , which stands for <b><i>Structured Query Language</i></b>. We use this language in order to
manage the database, the tables and the rows and columns. This chapter is not about database structure itself, nor is it about **SQL**. We'll try to focusing on Python part.

For more detail, I have made a completed tutorial for SQL in <b>5.DataBase</b>, you can return and continue after finish the basic.

## Connecting to SQLite with Python

The database that come pre-installed with Python is called SQLite. It is also the one which we're going to use. Of course, there're also other libraries for MySQL, MSSQL, MongoDB, PostgreSQL.

In order to use SQLite, first we've to import the respective module:

```python
import sqlite3
```

Now to create a new database file on our disk, we use <code>connect</code> method.

```python
conn = sqlite3.connect('database_name.db')
```

## Executing Statements

After established a connection to the database, we have to define our role in here. We'll need to create a so-called <code>cursor</code>.

```python
c = conn.cursor()
```

Ok so this one will act like a connection object.

## Creating Table

For example, we can create our first table like this:

```python
c.execute("""CREATE TABLE persons (
    first_name TEXT,
    last_name NVARCHAR(50),
    age INTEGER
)""")```

We're creating a new table with name persons and each will have three attribute. Now our statement is written but in order to really execute it, we need to commit to our connection.

```python
conn.commit()
```

At the end, don't forget to close the connection to prevent data loss.

```python
conn.close()
```

## Inserting Values

For this, we'll use INSERT statement:

```python
c.execute("""INSERT INTO persons VALUES
('John', 'Smith', 25),
('Anna', 'Smith', 30),
('Mike', 'Johnson', 40)""")

conn.commit()

conn.close()
```

## Selecting Values

To get values from the database, we use SELECT statement. After that we also need to <code>fetch<code> the results.

```python
c.execute("""SELECT * FROM persons
WHERE last_name = 'Smith'""")
print(c.fetchall())

conn.commit()
conn.close()
```

As you see, our SELECT statement that gets all the entries where the last_name has value Smith. We have to use the method <code>fetchall</code> of the cursor, in order to get every results. It return a list of tuples, where every tuple is one entry.

Alternatively, we could use the method <code>fetchone</code> to only get the first entry or <code>fetchmany</code> to get a specific amount of entries.

## Classes and Tables

In order to make the communication more efficient and easier, we're going to create a Person class that has the columns as attribute:

```python
class Person():
    def __init__(self, first = None, last = None, age = None):
        self.first = first
        self.last = last
        self.age = age

    def clone_person(self, result):
        self.first = result[0]
        self.last = result[1]
        self.age = result[2]
```

## From Table to Object

After that, we'll create a new Person object by getting its data from our database:

```python
c.execute("""SELECT * FROM persons
WHERE last_name = 'Smith'""")

person1 = Person()
person1.clone_person(c.fetchone())
print(person1.first)
print(person1.last)
print(person1.age)
```

and we will have the results:

```bash
John
Smith
25
```

## From Object to Table

We can also do that the way around. Let's create a person objects, assign values to the attributes and then insert this object into our database:

```python
person2 = Person('Bob', 'Davis', 23)

c.execute("""INSERT INTO persons VALUES ('{}','{}','{}')""".format(person2.first, person2.last, person2.age))

conn.commit()
conn.close()
```

After that we can check the result, it will look something like this:

```python
c.execute("""SELECT * FROM persons""")

print(c.fetchall())
```

```bash
> [...('Bob', 'Davis', 23)]
```

## Prepared Statements

There is a much more secure and elegant way to put the values of our attributes into the SQL statements. We can use <i>prepared statements</i>

```python
person3 = Person('Julia', 'Johnson', 28)

c.execute("INSERT INTO persons VALUES (?, ?, ?)" , (person.first, person.last, person.age))

conn.commit()
conn.close()
```